<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>508115255068-k5cvf4qlp7mpl69rmdvp7sjchul0h5m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508115255068-k5cvf4qlp7mpl69rmdvp7sjchul0h5m0</string>
	<key>API_KEY</key>
	<string>AIzaSyAq1THXO8WW6QlPHd3SBlsIRfMNvXJKVuU</string>
	<key>GCM_SENDER_ID</key>
	<string>508115255068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qwkpass.ios</string>
	<key>PROJECT_ID</key>
	<string>qwkpass</string>
	<key>STORAGE_BUCKET</key>
	<string>qwkpass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:508115255068:ios:3b14abf49b296519</string>
	<key>DATABASE_URL</key>
	<string>https://qwkpass.firebaseio.com</string>
</dict>
</plist>